<!-- ======= Header ======= -->
<header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

        <!-- <h1 class="logo me-auto"><a href="index.html">Adivasipellipandiri</a></h1> -->
        <!-- Uncomment below if you prefer to use an image logo -->
        <span style="font-size:30px;cursor:pointer" class="mobile_nav" onclick="openNav()">&#9776; </span>
        <a href="index.html" class="logo me-auto"><img src="https://adivasipellipandiri.com/assets/images/logo.png"
                alt="Logo" class="img-fluid"></a>


        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto active" href="#home">Home</a></li>
                <li><a class="nav-link" href="#about">About</a></li>
                <li><a class="nav-link" href="#contact">Contact Us</a></li>
                <li><a class="getstarted" data-bs-toggle="modal" data-bs-target="#login-modal">Login</a></li>
                <li><a class="getstarted" data-bs-toggle="modal" data-bs-target="#signup-modal">Registration</a></li>

                <!-- <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#login-modal">Login</button> -->
                <!-- <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#login-modal">Registration</button> -->

            </ul>
            <i class=" fa fa-menu mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->
<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="#home">Home</a>
    <a href="#about">About</a>
    <a href="#contact">Contact Us</a>
</div>

<!-- ======= Hero Section ======= -->
<div id="hero">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-aos="fade-up"
        data-aos-delay="200">
        <!-- <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div> -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="assets/images/slider1.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="assets/images/slider2.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="assets/images/slider1.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<!-- <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
          <h1>Better Solutions For Your Business</h1>
          <h2>We are team of talented designers making websites with Bootstrap</h2>
          <div class="d-flex justify-content-center justify-content-lg-start">
            <a href="#about" class="btn-get-started scrollto">Get Started</a>
            <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox btn-watch-video"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>
          </div>
        </div>
        <div class="col-lg-12 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
          <img src="assets/img/hero-img.png" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section> -->
<!-- End Hero -->

<main id="main">



    <!-- ======= About Us Section ======= -->
    <section id="soulmate" class="about">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Find Your Soulmate</h2>
            </div>

            <div class="row content">
                <div class="col-lg-6">
                    <img src="assets/images/soul1.jpg" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0">
                    <img src="assets/images/soul2.jpg" alt="">
                </div>
            </div>

        </div>
    </section><!-- End About Us Section -->
    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>About us</h2>
            </div>

            <div class="row content">
                <div class="col-lg-12">
                    <p>
                        మొట్టమొదటిసారిగా ప్రత్యేకంగా తెలంగాణ మరియు ఆంధ్రప్రదేశ్ లోని ఆదివాసీల పెళ్లి సంబంధాల కొరకు మేము
                        adivasipellipandiri.com అనే website ప్రారంభించినాము. ఆదివాసీలోని తెగలు అయినటువంటి కోయ,
                        కొండరెడ్డి, నాయక్ పోడు, గోండు, కోలాం, పర్దాన్, తోటి, అంద్, చెంచు వంటి తెగల వారు పెళ్లి సంబంధాల
                        కొరకు మమ్మల్ని సంప్రదించగలరు. మమ్మల్ని ఫోన్ కాల్ ద్వారా మరియు వాట్స్అప్ ద్వారా కూడా
                        సంప్రదించవచ్చు. మా యొక్క ఫోన్ నెంబర్ <br>+91 9492706637 .

                    </p>
                </div>

            </div>

        </div>
    </section><!-- End About Us Section -->






    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
        <div class="container" data-aos="zoom-in">

            <div class="row">
                <div class="col-lg-9 text-center text-lg-start">
                    <h3>The perfect matrimonial site for a perfect match</h3>
                    <p> adivasipellipandiri have helped lakhs of people find their perfect partner and perfect families.
                        Because at adivasipellipandiri, we believe that a marriage is not about just two persons but
                        about two families too.</p>
                </div>
                <div class="col-lg-3 cta-btn-container text-center">
                    <a class="cta-btn align-middle" href="#">Register free now</a>
                </div>
            </div>

        </div>
    </section><!-- End Cta Section -->


    <!-- <section id="team" class="team">
        <div class="container aos-init aos-animate" data-aos="fade-up">
            <div class="section-header">
                <h2>Our Team</h2>
            </div>
            <div class="row gy-4">
                <div class="col-lg-3 col-md-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
                    <div class="team-member">
                        <div class="member-img"> <img src="https://bootstrapmade.com/demo/templates/Nova/assets/img/team/team-2.jpg
                            " class="img-fluid" alt="">
                            <div class="social"> <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a> <a
                                    href=""><i class="fa fa-facebook" aria-hidden="true"></i></a> <a href=""><i
                                        class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Walter White</h4> <span>Chief Executive Officer</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
                    <div class="team-member">
                        <div class="member-img"> <img
                                src="https://bootstrapmade.com/demo/templates/Nova/assets/img/team/team-3.jpg"
                                class="img-fluid" alt="">
                            <div class="social"> <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a> <a
                                    href=""><i class="fa fa-facebook" aria-hidden="true"></i></a> <a href=""><i
                                        class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Sarah Jhonson</h4> <span>Product Manager</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
                    <div class="team-member">
                        <div class="member-img"> <img
                                src="https://bootstrapmade.com/demo/templates/Nova/assets/img/team/team-1.jpg"
                                class="img-fluid" alt="">
                            <div class="social"> <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a> <a
                                    href=""><i class="fa fa-facebook" aria-hidden="true"></i></a> <a href=""><i
                                        class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>William Anderson</h4> <span>CTO</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="400">
                    <div class="team-member">
                        <div class="member-img"> <img
                                src="https://bootstrapmade.com/demo/templates/Nova/assets/img/team/team-4.jpg"
                                class="img-fluid" alt="">
                            <div class="social"> <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a> <a
                                    href=""><i class="fa fa-facebook" aria-hidden="true"></i></a> <a href=""><i
                                        class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Amanda Jepson</h4> <span>Accountant</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->





    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Contact</h2>
                <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
                    consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia
                    fugiat sit in iste officiis commodi quidem hic quas.</p>
            </div>

            <div class="row">

                <div class="col-lg-5 d-flex align-items-stretch">
                    <div class="info">
                        <div class="address">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            <h4>Location:</h4>
                            <p>H-no- 4-202, Laxmi Devi palli Kothagudem</p>
                        </div>

                        <div class="email">
                            <i class="fa fa-envelope"></i>
                            <h4>Email:</h4>
                            <p>balakrishna.thati747007@gmail.com</p>
                        </div>

                        <div class="phone">
                            <i class="fa fa-phone"></i>
                            <h4>Call:</h4>
                            <p>+91 9492706637</p>
                        </div>
                    </div>

                </div>

                <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
                    <form class="sendmailform">
                        <div class="floating-form">
                            <!-- <h4 class="pb-5">Tell us about your project</h4>-->
                            <div class="floating-label">
                                <input class="floating-input" type="text" name="Name" placeholder=" " required="">
                                <span class="highlight"></span>
                                <label>Name</label>
                            </div>
                            <div class="floating-label">
                                <input class="floating-input" type="email" name="Email" placeholder=" " required="">
                                <span class="highlight"></span>
                                <label>Email Address</label>
                            </div>

                            <div class="floating-label">
                                <input class="floating-input" type="number" minlength="0" maxlength="11" name="Phone"
                                    placeholder=" " required="">
                                <span class="highlight"></span>
                                <label>Phone Number</label>
                            </div>
                            <div class="floating-label">
                                <input class="floating-input" type="text" name="Question" placeholder=" ">
                                <span class="highlight"></span>
                                <label> Subject</label>
                            </div>
                            <div class="floating-label">
                                <textarea class="floating-input  name=" maxlength="1000" placeholder=" "></textarea>
                                <span class="highlight"></span>
                                <label>Write your message here</label>
                            </div>
                            <input type="submit" value="Let’s Talk" id="submit" class="btn btn-primary btns">
                        </div>
                    </form>
                </div>

            </div>

        </div>
    </section><!-- End Contact Section -->

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer">

    <!-- <div class="footer-newsletter">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <h4>Join Our Newsletter</h4>
                    <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
                    <form action="" method="post">
                        <input type="email" name="email"><input type="submit" value="Subscribe">
                    </form>
                </div>
            </div>
        </div>
    </div> -->

    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6 footer-contact">
                    <h3>
                        <img src="https://adivasipellipandiri.com/assets/images/logo.png" alt="Logo" class="img-fluid">
                    </h3>
                    <p>
                        H-no- 4-202, Laxmi Devi palli Kothagudem<br><br>
                        <strong>Phone:</strong> +91 9492706637<br>
                        <strong>Email:</strong> balakrishna.thati747007@gmail.com<br>
                    </p>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Our Services</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Our Social Networks</h4>
                    <p>Cras fermentum odio eu feugiat lide par naso tierra videa magna derita valies</p>
                    <div class="social-links mt-3">
                        <a href="#" class="twitter"> <i class="fa fa-twitter"></i></a>
                        <a href="#" class="facebook"> <i class="fa fa-facebook"></i></a>
                        <a href="#" class="instagram"> <i class="fa fa-instagram"></i></a>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="container footer-bottom clearfix">
        <div class="copyright">
            &copy; Copyright <strong><span>Adivasipellipandiri</span></strong>. All Rights Reserved
        </div>

    </div>
</footer><!-- End Footer -->

<!-- <div id="preloader"></div> -->
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="fa fa-arrow-up"></i></a>



<div id="login-modal" class="modal fade" tabindex="-1" role="dialog" aria-modal="true">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center mt-2 mb-4">
                    <h4>Login</h4>
                </div>
                <form class="parsley-examples" [formGroup]="form" novalidate="" (ngSubmit)="login()">
                    <div class="mb-3">
                        <label for="username" class="form-label">User Name</label>
                        <input class="form-control" type="text" formControlName="username" placeholder="username">
                    </div>
                    <div *ngIf="f.username.invalid &&(f.username.touched || f.username.dirty || submitted)">
                        <small class="text-danger" *ngIf="f.username.errors.required">Username is required</small>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input class="form-control" type="password" formControlName="password"
                            placeholder="Enter your password">
                    </div>
                    <div *ngIf="f.username.invalid &&(f.password.touched || f.password.dirty || submitted)">
                        <small class="text-danger" *ngIf="f.password.errors.required">Username is required</small>
                    </div>
                    <div class="mb-3 forgot-flex">
                        <div class="form-check">
                            <input type="checkbox" formControlName="acceptTerm" class="form-check-input"
                                id="customCheck2">
                            <label class="form-check-label" for="customCheck2">Remember me</label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label" for="customCheck2">Forgot Password</label>
                        </div>
                    </div>

                    <div class="mb-2 text-center">
                        <button class="btn rounded-pill btn-primary" type="submit">Sign In</button>
                    </div>

                </form>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->

</div>

<div id="signup-modal" class="modal fade" tabindex="-1" aria-modal="true" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-body">
                <div class="text-center mt-2 mb-4">
                    <h4>Registration</h4>
                </div>

                <form  class="parsley-examples scrollbar" [formGroup]="regform" novalidate=""
                    (ngSubmit)="register()">

                    <div class="mb-3">
                        <label for="username" class="form-label">Name</label>
                        <input class="form-control" type="email" formControlName="username"
                            placeholder="Michael Zenaty">
                    </div>
                    <div *ngIf="r.username.invalid && (r.username.touched || r.username.dirty || regsubmitted)">
                        <small class="text-danger" *ngIf="r.username.errors.required">Username is
                            required</small>
                        <small class="text-danger" *ngIf="r.username.errors.pattern">Username must contain
                            alpha numeric only</small>
                        <small class="text-danger" *ngIf="r.username.errors.minlength">Username should contain
                            min 6
                            characters</small>
                        <small class="text-danger" *ngIf="r.username.errors.maxlength">Username should not
                            contain more than 30
                            characters</small>
                    </div>
                    <div class="mb-3">
                        <label for="profile" class="form-label">Profile For</label>
                        <select class="form-select" formControlName="profile_for">
                            <option value="">Select</option>
                            <option value="Myself">Myself</option>
                            <option value="Son">Son</option>
                            <option value="Daughter">Daughter</option>
                            <option value="Brother">Brother</option>
                            <option value="Sister">Sister</option>
                            <option value="Relative">Relative</option>
                            <option value="Friend">Friend</option>
                        </select>

                    </div>
                    <div *ngIf="r.profile_for.invalid && (r.profile_for.touched || r.profile_for.dirty || regsubmitted)">
                        <small class="text-danger" *ngIf="r.profile_for.errors.required">Profile is required</small>
                    </div>
                    <div class="mb-3">
                        <label for="emailaddress" class="form-label">Email Id</label>
                        <input class="form-control" type="email" formControlName="email" placeholder="john@deo.com">
                    </div>
                    <div *ngIf="r.email.invalid && (r.email.touched || r.email.dirty || regsubmitted)">
                        <small class="text-danger" *ngIf="r.email.errors.required">Email is required</small>
                    </div>
                    <div class="mb-3">
                        <label for="mobileno" class="form-label">Phone Number</label>
                        <input class="form-control" type="number" formControlName="mobileno" placeholder="phonenumber">
                    </div>
                    <div *ngIf="r.mobileno.invalid && (r.mobileno.touched || r.mobileno.dirty || regsubmitted)">
                        <small class="text-danger" *ngIf="r.mobileno.errors.required">Phone Number is required</small>
                    </div>
                    <!-- <div class="mb-3">
                        <label class="form-label">Gender *:</label>

                        <div class="form-check mb-1">
                            <input type="radio" name="gender"  value="Male" class="form-check-input"
                                data-parsley-multiple="gender">
                            <label for="genderM">Male</label>
                        </div>
                        <div class="form-check">
                            <input type="radio" name="gender" value="Female" class="form-check-input"
                                data-parsley-multiple="gender">
                            <label for="genderF">Female</label>
                        </div>
                    </div> -->
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input class="form-control" type="password" formControlName="password"
                            placeholder="Enter your password">
                    </div>
                    <div *ngIf="r.password.invalid && (r.password.touched || r.password.dirty || regsubmitted)">
                        <small class="text-danger" *ngIf="r.password.errors.required">Password is required</small>
                    </div>
                    <div class="mb-3">
                        <label for="example-date" class="form-label">Date Of Birth</label>
                        <input class="form-control" id="example-date" type="date" formControlName="dob" name="date">
                    </div>
                    <div class="mb-3">
                        <label for="religin" class="form-label">Religion</label>
                        <select formControlName="religin" class="form-select">
                            <option value="">Select</option>
                            <option value="Hindu">Hindu</option>
                            <option value="Christian">Christian</option>

                        </select>

                    </div>
                    <div *ngIf="r.religin.invalid && (r.religin.touched || r.religin.dirty || regsubmitted)">
                        <small class="text-danger" *ngIf="r.religin.errors.required">Religion is required</small>
                    </div>
                    <div class="mb-3">
                        <label for="caste" class="form-label">Caste</label>
                        <input class="form-control" type="text" formControlName="caste" placeholder="Michael Zenaty">
                    </div>
                    <div class="mb-3">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="customCheck1">
                            <label class="form-check-label" for="customCheck1">I have read & agree to the <a
                                    href="#">Terms and Conditions</a></label>
                        </div>
                    </div>

                    <div class="mb-3 text-center">
                        <button class="btn btn-primary" type="submit">Sign Up Free</button>
                    </div>
                    <p class="amruthals-login">Already a member? <a href="#" data-toggle="modal"
                            data-target="#myModal">Login</a></p>
                </form>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>